<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="boardSQL">
	<insert id="boardWrite" parameterType="Map">
		insert into guestbook values(guestbook_SEQ.nextval,#{name},#{email},#{subject},#{content},sysdate)
	</insert>
	
	<select id="boardList" parameterType="Map" resultType="boardDTO">
		select * from(select rownum rn, tt.* from 
			(select * from guestbook order by 1 desc)tt) 
			where <![CDATA[rn>=#{startNum}]]> and <![CDATA[rn<=#{endNum}]]>
	</select>
	
	<select id="boardTotal" resultType="Int">
		select count(*) from guestbook
	</select>
</mapper>